body {
  text-align: center;
}

header.splash {
  height: 16em;
}

header.splash h1 {
  top: 2.7em;
}

header.splash img.headshot {
  position: absolute;
  width: 12em;
  height: 12m;
  border-radius: 12em;
  top: -2.5em;
  left: 50%;
  margin-left: -6em;
}

section.prominent {
  font-size: 1.5em;
  margin: 19.5em 3.5em 1.1em 3.5em;
}

section.prominent p {
  position: relative;
  width: 30em;
  text-align: left;
  left: 50%;
  margin-left: -15em;
}

div.float {
  width: 35em;
  padding: 1.5em 1.5em 0.5em 1.5em;
  margin: 1.5em 0 3em 0;
  position: relative;
  color: #444;
  top: 1em;
  left: 50%;
  margin-left: -19em;
  /*background-color: rgba(255, 255, 255, 0.85);*/
  /*background-color: #eee;*/
  #font-family: Baskerville, Palatino, "Palatino Linotype", Georgia, serif;
}


div.float p, div.float ul, div.float ol, div.float dl {
  color: #555;
  margin: 0em -0.5em 1em 0em;
}

.large {
  font-size: 1.3em;
}
