/*
Major illustration and attribution
*/

header.illustrasplosion {
  position: absolute;
  overflow: hidden;  
  width: 100%;
  height: 30em;
  background-size: cover;
  background-position: 50% 50%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
 }

header.illustrasplosion figure#illustration {
  position: absolute;
  width: 100%;
  height: 30em;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
 }

header.illustrasplosion figure#illustration img {
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
 }

header.illustrasplosion figure#illustration figcaption {
  position: absolute;
  z-index: 1;
  width: auto;
  height: auto;
  right: 0;
  bottom: 0;
  margin: 0;
  background-color: rgba(32,32,32,0.6);
  border-top-left-radius: 0.3em;
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  padding: 0.5em;
 }

header.illustrasplosion figure#illustration figcaption a {
  color: inherit;
  text-decoration: inherit;
 }

header.illustrasplosion figure#illustration figcaption a:hover {
  color: firebrick;
 }
 
/*
Other adjustments so everything fits
*/

aside#metadata { top: 35em; }

article { margin-top: 25em; }
