/*
Article Illustration
*/

figure#illustration {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 3em
 }

figure#illustration img {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
 }

figure#illustration figcaption {
  position: absolute;
  z-index: 1;
  float: right;
  right: 0;
  background-color: rgba(32,32,32,0.1);
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  color: rgb (32,32,32);
  text-transform: uppercase;
  padding: 0.5em;
 }

 

