/*
Typeface
*/

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: normal;
  src: local('Oswald '), local('Oswald'), url('https://themes.googleusercontent.com/static/fonts/oswald/v5/-g5pDUSRgvxvOl5u-a_WHw.woff') format('woff'); /*{{site.base-url}}/res/oswald.woff*/
 }
 

/*
General content
*/

body {
  font-family: Baskerville, Palatino, "Palatino Linotype", Georgia, serif;
  background: rgb(250,250,250);
  color: rgb(64,64,64);
 }

a.blank {
  color: inherit;
  text-decoration: inherit;
 }

a.hover {
  color: inherit;
  text-decoration: inherit;
 }

a.hover:hover {
  text-decoration: underline;
 }
 
/*
Page header
*/

header {
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
 }

header h1 {
  color: firebrick;
  /*text-transform: uppercase;*/
  margin: 0;
  padding: 0;
 }

/*header h1:before, h1:after {
  content:"\2605 ";
  padding: 0.3em;
 }*/

header p.subtitle {
  color: dimgray;
  padding: 0;
 }

@media (min-width:30em) {
header h1 {
  font-size: 5em;
 }

header p.subtitle {
  font-size: 1.8em;
 }
}

@media (max-width:29.99em) {
header h1 {
  font-size: 4em;
 }

header p.subtitle {
  font-size: 1.3em;
 }
}

@media (min-width: 65em) {
header p.subtitle {
  margin: 0 18% 0 18%;
 }
}

@media (max-width: 64.9em) {
header p.subtitle {
  margin: 0 1em 0 1em;
 }
}


/*
Main article content formatting
*/ 

article a {
  text-decoration: underline;
  color: inherit;
 }
 
article a:visited {
  text-decoration: underline;
  color:inherit;
 }
 
article a:hover {
  color: firebrick;
}

article a:visited:hover {
  color: firebrick;
}
 
article em {
  color: firebrick;
  font-style: italic;
 }
 
article strong {
  color: firebrick;
  font-weight: bold;
 }

article blockquote {
  border-left: 0.5em solid firebrick;
  padding-left: 1em;
 }
 
article ul {
  list-style: none inside;
 }
 
article ul li:before {
  content:'\2605';
  color: firebrick;
  padding: 0 0.5em 0 0;
 }

article code {
  background-color: rgba(178,34,34,0.35);
  color: rgba(0,0,0,0.8);
  font-family: monospace;
  padding: 0.1em 0.4em;
  border-radius: 0.15em;
 }
 
article pre {
  margin: 0 0 0 5em;
  line-height: 1.6em;
 }

article dl {

 }
 
article dl dt {
  font-weight: bold;
  clear: left;
  float: left;
  margin-right: 1em;
 }

article dl dt:after {
  content: ":"
 }

@media (min-width: 80em) {
 article img.flex-illustration {
  width: 25em;
  border-radius: 1.5em;
  }
 }
 
@media (min-width: 39em) and (max-width: 79.99em) {
 article img.flex-illustration {
  width: 45%;
  border-radius: 6%;
  }
 }
 
@media (min-width: 39em) {
 article img.flex-illustration {
  float: right;
  position: relative;
  right: -4em;
  margin: 2em 3em 1.5em 0;
  }
 }
 
@media (max-width:38.99em) {
 article img.flex-illustration {
   width: 80%;
   border-radius: 6%;
   margin: 1em 10%;
  }
 }

/*
Page footer
*/

footer {
  border-top: solid thin dimgrey;
  font-family: 'Oswald', Helvetica, Arial, sans-serif;
  text-align: center;
  margin: 3em -0.5em -0.5em -0.5em;
  padding: 1em;
 }

footer a {
  color: /*firebrick*/ rgb(64,64,178);
  font-weight: bold;
  text-decoration: none;
 }
 
footer a:hover {
  text-decoration: underline;
 }

