@font-face {
  font-family: 'Ovo';
  font-style: normal;
  font-weight: 400;
  src: local('Ovo'), url(../res/ovo.woff) format('woff'), url(https://themes.googleusercontent.com/static/fonts/ovo/v5/WqVRExPBh0NGpNgcgzBACQ.woff) format('woff');
}