---
title: Writing
---

<!DOCTYPE html>

<html>

{% include header-ascii-art.html %}

<head>

{% include head-meta.html %}

<!-- Page-specific Stylesheets &c. -->
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/post-index.css" />

  </head>

  <body>

  <header class="splash">

    <h1>{{ page.title }}</h1>

    </header>

  <section class="main posts">

    {% for posts in site.posts %}

      <div class="post">

      <a href="{{ site.url }}{{ post.url }}">
      <figure class="post-image">
        <img src={{ site.url }}img/illustrations/{{ post.image }} alt={{ post.image-alt }}>
        </figure>
        </a>

        <a href="{{ site.url }}{{ post.url }}">
        <hgroup class="post-title">
          <h2>{{ post.title }}</h2>
          <h3>{{ post.subtitle }}</h3>
          </hgroup>
          </a>

        <p class="meta">
          {{ post.category }} &#x2219; written == post.date | date_to_string == &#x2219; {{ post.reading-time }} to read
          </p>

        <p class="lede">
          {{ post.lede }}
          </p>

        </div>

      {% endfor %}

    </article>

  </body>
  </html>
