<aside id="metadata">
 <a href="{{site.url}}/index.html"><img id="mugshot" src="{{site.url}}/img/{{site.author-img}}" alt="{{site.author-image-alt}}"></a>
 <a href="{{site.url}}/contact.html" class="blank"><h1 id="author-name">{{site.author-name}}</h1></a>
 <p id="author-tagline">{{site.author-tagline}}</p>
 <p id="location"><span class="strong">{{site.author-location}}</span></p>
 <p id="category"><a href="{{site.url}}/posts.html" class="blank">This is <span class="strong">{{page.category}}</span></a></p>
 <p id="publication-date"><span class="strong">Published</span> on {{page.date | date_to_string}}</p>
 <!-- <p id="revision-date"><span class="strong">Last revised</span> on double-brace page.revision-date | date_to_string double-brace </p> -->
 <p id="reading-time">Takes about <span class="strong">{{page.reading-time}}</span> to read</p>
 <p id="license"><a href="{{site.license-link}}" class="blank"><span class="strong">{{site.license}}</span> license</a></p>
 </aside>
