<!DOCTYPE html>

<html>

 {% include header-ascii-art.html %}

 <head>
  {%include head-meta.html%}
  {% include twitter-summary.html %}
  <!-- Page-specific Stylesheets &c. -->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/post.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/illustrasplosion.css" />
  </head>
  
 <body>

  {% include menu-button.html %}
  {% include illustrasplosion.html %}
  {% include article-content.html %}
  {% include aside-article-details.html %}

  </body>
  
 </html>
