<!DOCTYPE html>

<html>

 {% include header-ascii-art.html %}

 <head>
  {%include head-meta.html %}
  <!--<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/page.css" />
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/nav.css" />-->
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/css/style.css" />
  </head>
  
 <body>

  <div class="splash"></div>

    <div class="float">
      <h1>{{page.title}}</h1>
      {{content}}
      </div>

    </div>

  </body>
  </html>
